.git
.gitignore
.gitattributes
.github
.sixth
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.editorconfig
.env
.env.local
.env.*.local
docker-compose.yml
docker-compose.override.yml
*.md
!README.md
composer.phar
